/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.mdl-card{
  width: auto;
  border-radius: 2px;
  min-height: auto;
  
}
.mdl-card__title{
  padding: 8px;
}
.mdl-textfield{
  width: auto;
}

.mdl-card-secondary{
  background-color: #ededed;
}
.mdl-card-inprogress{
  background-color: #1fd3ff;
}
.mdl-progress{
  background-color: #4CAF50;
}
.mdl-dialog{
  width: 600px;
}

.titre{
  text-transform: uppercase;
  columns: #ffffff;
}
.percent{
  font-size: 0.8rem;
}
.mdl-data-table{
  width: auto;
}